.loader-wrapper {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center; }

.loader {
  border: 18px solid #00cbff;
  border-top: 18px solid #1db9f7;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
