@import "../../../_variables.scss";

.avatar {
  background-color: $grey-two;
  border-radius: 50%;
  height: 50px;
  position: relative;
  width: 50px;

  span {
    font-size: $font-medium;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}
