.navbar {
  background-color: #00cbff;
  display: flex;
  height: 60px;
  padding: 0 10px; }
  .navbar-header {
    color: #ffffff;
    font-size: 36px;
    line-height: 60px; }
  .navbar-menu {
    display: flex;
    flex: 1;
    justify-content: center; }
    .navbar-menu .navbar-item {
      flex: 1;
      max-width: 120px;
      min-width: 120px; }

@media only screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    height: auto; }
    .navbar-header {
      text-align: center; }
    .navbar-menu {
      align-items: center;
      flex-direction: column; } }
