// Colors

$blue: #00cbff;
$blue-one: #1db9f7;
$white: #ffffff;
$black: #353535;
$grey: #969696;
$grey-one: #4f4f4f;
$grey-two: #a5a5a5;
$green: #00ff37;

//Font

$font-small: 16px;
$font-medium: 18px;
$font-large: 36px;
$size-one-font-small: 14px;
$size-one-font-medium: 16px;

//Media sizes

$size-one: 500px;
$min-app-size: 300px;

//Grid

$grid-space: 10px;
$grid-item-size: 300px;

//Avatar

$grid-avatar-size: 80px;
$list-avatar-size: 50px;
