// Colors

$blue: #00cbff;
$white: #ffffff;
$black: #353535;
$grey: #969696;
$grey-one: #4f4f4f;
$gray-two: #a5a5a5;
$green: #00ff37;

//Font

$font-small: 12px;
$font-medium: 14px;
$font-large: 36px;
