html {
  box-sizing: border-box;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: Helvetica, "sans-serif";
  height: 100%;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

h2, h3, p {
  margin: 0; }

.app {
  min-width: 300px; }
